<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>

  <body>
    <div class="mainContainer">
      <!-- LOGO HEADER -->
      <header class="width">
        <img src="http://placehold.it/150x50"/>
      </header>
      <!-- END OF LOGO HEADER -->

      <!-- HEADER SECTION -->
      <div class="title">
        <div class="content width">
          <h3>Create organization</h3>
          <p>Small or large, any team will increase productivity with Hubgets.</p>
          <p>It allows teams to filter noise and focus on results.</p>
        </div>
      </div>
      <!-- END OF HEADER SECTION -->

      <!-- MAIN CONTENT -->
      <div class="mainContent">
        <div class="width">
        <!-- FORM -->
        <div class="form col-md-6 col-xs-6">
          <div class="icon">
            <img src="http://placehold.it/75x75" />
          </div>
          <form class="inputs">
            <div class="form-group col-md-6">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName">
            </div>
            <div class="form-group col-md-6">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName">
            </div>
            <div class="form-group col-md-12">
              <label for="company">Company</label><br>
              <input type="text" class="form-control" id="company">
            </div>
            <div class="form-group col-md-12">
              <label for="email">E-mail address</label><br>
              <input type="email" class="form-control" data-error="Invalid e-mail adress" required id="email">
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn button">Register</button>
            </div>
          </form>
        </div>
        <!-- END FORM -->

        <!-- INFO -->
        <div class="info col-md-6 col-xs-6">
          <div class="element">
            <img src="http://placehold.it/30x30" />
            <p>Centralizes communication channels and reduces overhead.</p>
          </div>
          <div class="element">
            <img src="http://placehold.it/30x30" />
            <p>Brings together instant messaging, voice and video communication in the browser.</p>
          </div>
          <div class="element">
            <img src="http://placehold.it/30x30" />
            <p>Captures information across the organizaton, retains the knowledge, analyzes adn improves it.</p>
          </div>
          <div class="element">
            <img src="http://placehold.it/50x50" />
            <div class="extraInfo">
              <p>+1 845 894 123</p>
              <p>help@hubgets.com</p>
            </div>
          </div>
        </div>
        <!-- END INFO -->
        </div>
      </div>
      <!-- END OF MAIN CONTENT -->

      <!-- FOOTER -->
      <div class="footer">
        <footer class="width">
          <div class="copyright col-md-3 col-xs-3">
            <img src="http://placehold.it/75x20" />
            <p>&#169; Copyrights 2015 Hubgets, Inc.</p>
          </div>
          <div class="footerMenuItems col-md-3 col-xs-3">
            <h6>Our Company</h6>
            <a href="#">About us</a>
            <a href="#">Blog</a>
            <a href="#">We are hiring</a>
            <a href="#" class="specialAnchor">Terms of Service</a>
            <a href="#">Contact us</a>
          </div>
          <div class="footerMenuItems col-md-3 col-xs-3">
            <h6>Hubgets</h6>
            <a href="#">Join the program</a>
            <a href="#">Features</a>
            <a href="#">Current status</a>
          </div>
          <div class="footerMenuItems col-md-3 col-xs-3">
            <h6>Social</h6>
            <div>
              <img src="http://placehold.it/10x10"/>
              <a href="#">Twitter</a>
            </div>
            <div>
              <img src="http://placehold.it/10x10"/>
              <a href="#">Youtube</a>
            </div>
          </div>
        </footer>
      </div>
      <!-- END OF FOOTER -->
    <div>
  </body>
</html>
