<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>

  <body>
    <div class="mainContainer">
      <!-- LOGO HEADER -->
      <header class="width">
        <img src="http://placehold.it/150x50"/>
      </header>
      <!-- END OF LOGO HEADER -->

      <!-- HEADER SECTION -->
      <div class="title">
        <div class="content width">
          <h3>Create organization</h3>
          <p>Small or large, any team will increase productivity with Hubgets.</p>
          <p>It allows teams to filter noise and focus on results.</p>
        </div>
      </div>
      <!-- END OF HEADER SECTION -->

      <!-- MAIN CONTENT -->
      <div class="mainContent">
        <div class="width">
        <!-- FORM -->
        <div class="form col-md-6 col-xs-12">
          <div class="icon">
            <img src="http://placehold.it/75x75" />
          </div>
          <form class="inputs">
            <div class="firstNameInput col-md-6">
              <label for="firstName">First Name</label>
              <input type="text" id="firstName">
            </div>
            <div class="lastNameInputs col-md-6">
              <label for="lastName">Last Name</label>
              <input type="text" id="lastName">
            </div>
            <div class="companyInput col-md-12">
              <label for="company">Company</label><br>
              <input type="text" id="company">
            </div>
            <div class="emailInput col-md-12">
              <label for="email">E-mail address</label><br>
              <input type="text" id="email">
            </div>
            <div class="col-md-12">
              <button type="button" class="btn button">REGISTER</button>
            </div>
          </form>
        </div>
        <!-- END FORM -->

        <!-- INFO -->
        <div class="info col-md-6 col-xs-12">
          <div class="element">
            <img src="http://placehold.it/30x30" />
            <p>Centralizes communication channels and reduces overhead.</p>
          </div>
          <div class="element">
            <img src="http://placehold.it/30x30" />
            <p>Brings together instant messaging, voice and video communication in the browser.</p>
          </div>
          <div class="element">
            <img src="http://placehold.it/30x30" />
            <p>Captures information across the organizaton, retains the knowledge, analyzes adn improves it.</p>
          </div>
        </div>
        <!-- END INFO -->
        </div>
      </div>
      <!-- END OF MAIN CONTENT -->

      <!-- FOOTER -->
      timo e sexi
      <!-- END OF FOOTER -->
    <div>
  </body>
</html>
